@model AdministradorComprasMVC.Models.Proveedor

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div class="card">
                <div class="card-header"><div class="card-title">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                      <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    </svg> &nbsp;&nbsp;
                    Administrador de Proveedores</div></div>
                <div class="card-body">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        Proveedor</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>     
                        Buscar</button>
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                          <div class="container-fluid">
                              <form asp-action="Create" asp-controller="Proveedor">
                              <div class="row">
                                  <br />
                                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                     
                                     <label>Rfc:</label>
                                     <input  asp-for="Rfc" class="form-control form-control-sm" 
                                     type="text"    placeholder="Rfc de la empresa" required>
                                 </div>
                                 <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                     
                                     <label>Razón Social:</label>
                                     <input asp-for="Razon_Social" class="form-control form-control-sm"
                                     type="text" pattern="^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9.# ]+$" placeholder="Nombre de la empresa" required>
                                 </div>
                                 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                     
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                     <label>Nombre del Contacto:</label>
                                     <input asp-for="Nombre_Contacto" class="form-control form-control-sm" 
                                     type="text" placeholder="Nombre del contacto" required>
                                 </div>
                              </div>
                              <div class="row">
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                     
                                     <label>Calle:</label>
                                     <input  asp-for="Direccion.calle" class="form-control form-control-sm" 
                                     type="text"  placeholder="Calle" required>
                                 </div>
                                  <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                     
                                     <label>No.Int:</label>
                                     <input  asp-for="Direccion.NoInt" class="form-control form-control-sm" 
                                     type="text">
                                 </div>
                                  <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                     
                                     <label>No.Ext.:</label>
                                     <input  asp-for="Direccion.NoExt" class="form-control form-control-sm" 
                                     type="text">
                                 </div>
                                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                     
                                     <label>Colonia:</label>
                                     <input  asp-for="Direccion.Colonia" class="form-control form-control-sm" 
                                     type="text"  placeholder="Colonia" required>
                                 </div>
                                 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                     
                                     <label>Localidad/Delegación:</label>
                                     <input  asp-for="Direccion.Localidad" class="form-control form-control-sm" 
                                     type="text"  placeholder="Localidad">
                                 </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                     
                                     <label>Entidad:</label>
                                     <input  asp-for="Direccion.Entidad" class="form-control form-control-sm" 
                                     type="text"  placeholder="Entidad" required>
                                 </div>
                                 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                     
                                     <label>Municipio:</label>
                                     <input  asp-for="Direccion.Municipio" class="form-control form-control-sm" 
                                     type="text"  placeholder="Municipio" required>
                                 </div>
                                 <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                     
                                     <label>País:</label>
                                     <input  asp-for="Direccion.Pais" class="form-control form-control-sm" 
                                     type="text"  placeholder="Pais" required>
                                 </div>
                                 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                     
                                     <label>Código Postal:</label>
                                     <input  asp-for="Direccion.CodigoPostal" class="form-control form-control-sm" 
                                     type="text"  placeholder="Codigo Postal" required>
                                 </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                                    </svg>
                                     <label>Email:</label>
                                     <input  asp-for="E_mail" class="form-control form-control-sm" 
                                     type="email"  placeholder="Email" required>
                                 </div>
                                 <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                    </svg>
                                     <label>Teléfono:</label>
                                     <input  asp-for="Tel_Principal" class="form-control form-control-sm" 
                                     type="tel"  placeholder="Telefono Principal" required>
                                 </div>
                                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                    </svg>
                                     <label>Teléfono:</label>
                                     <input  asp-for="Tel_Movil" class="form-control form-control-sm" 
                                     type="tel"  placeholder="Telefono Movil" required>
                                 </div>
                                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                     <label>Status:</label>
                                     <input  asp-for="Estatus" class="form-control form-control-sm" 
                                     type="text"  placeholder="Status" required>
                                 </div>
                              </div>
                              <div class="row">
                                  <br />
                                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                      <br />
                                      <input type="submit" value="Guardar" class="btn btn-success btn-sm" />
                                  </div>
                              </div>
                              </form>
                          </div>
                     </div>
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                          <div class="container">
                              <br />
                              <div class="row">
                                  <div class="input-group mb-3">
                                  <input type="text" class="form-control form-control-sm" aria-label="Text input with dropdown button">
                                  <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                      </svg>
                                      Buscar</button>
                                  <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">Rfc</a></li>
                                    <li><a class="dropdown-item" href="#">Razón Social</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Todos</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="container-fluid">
                                      <table class="table table-bordered table-striped table-hover">
                                      <thead >
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Rfc</th>
                                          <th scope="col">Razón Social</th>
                                          <th scope="col">Representante</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-group-divider">
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>Mark</td>
                                          <td>Otto</td>
                                          <td>mdo</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>Jacob</td>
                                          <td>Thornton</td>
                                          <td>fat</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td colspan="2">Larry the Bird</td>
                                          <td>twitter</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>